{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "tabWidth": 2,
  "printWidth": 80,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "importOrder": [
    "^react$",
    "^@react.*$",
    "^next.*$",
    "^@fontsource/(.*)$",
    "^@mui/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^@app/(.*)$",
    "^@pages/(.*)$",
    "^@components/(.*)$",
    "^@theme/(.*)$",
    "^@utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
